<div class="menu-bar">
    <ul>
        <li class="active">
            <a href="/admin/item-list">
                <i class="fa fa-home" aria-hidden="true"></i>Dashboard
                <!-- <span class="fa fa-chevron-down pull-right"></span> -->
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-first-order" aria-hidden="true"></i>Sun Group
                <!-- <span class="fa fa-chevron-down pull-right"></span> -->
            </a>
        </li>
        <li id="nav1">
            <a href="">
                <i class="fa fa-bell" aria-hidden="true"></i>Orders
                <span class="fa fa-chevron-down pull-right"></span>
            </a>
            <ul>
                <li>Orders</li>
                <li>Order report</li>
            </ul>
        </li>
        <li>
            <a href="">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>Manage customer profile
                <span class="fa fa-chevron-down pull-right"></span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-truck" aria-hidden="true"></i>Manage Delivery person
                <!-- <span class="fa fa-chevron-down pull-right"></span> -->
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-star-half-o" aria-hidden="true"></i>Rating & Reviews
                <!-- <span class="fa fa-chevron-down pull-right"></span> -->
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>Payments
                <!-- <span class="fa fa-chevron-down pull-right"></span> -->
            </a>
        </li>
    </ul>
</div>