<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Add Menu</title>
    <meta name="robots" content="index">
    <!-- google site verification -->
    <meta name="google-site-verification" content="" />
    <meta name="robots" content="index">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <!-- meta description -->
    <meta name="description" content="">
    <!-- meta keywords -->
    <meta name="keywords" content="">
    <!-- facebook -->
    <meta property="og:url" content="" />
    <meta property="og:type" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="images/webmaster.png" />
    <!-- end of facebook -->
    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/app/admin/assets/images/favicon.png">
    <!-- css link -->
    <link href="/static/app/admin/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/app/admin/assets/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/app/admin/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- page load effect -->
    <div class="se-pre-con"></div>

    <!-- Header Section -->

    <div class="row header-section">
        <div class="col-md-9">
            <div class="header-name">
                <h1>SUN RESTAURANT</h1>
            </div>
        </div>
        <div class="pad0 col-md-3">
            <div class="header-menu pull-right">
                <a href="##" class="dropdown-toggle" data-toggle="dropdown">Admin
                    <span class="fa fa-chevron-down pull-right"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/admin/">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>