{% include "partials/admin-header.html" %}


<div class="container-wrapper">

	<!-- Vertical Menu Bar-->
	{% include "partials/admin-menu-bar.html" %}

	<!-- Description -->
	<div class="description">

		<p>
			<a href="">Home</a> /Sun Restaurant
		</p>
		<!-- Banner Heading -->
		<div class="row tab-header">
			<div class="pad0 col-md-12">
				<div class="pad0 col-md-6">
					<div class="tab-heading">
						<select>
							<option value="">All Category</option>
							<option>Soup veg</option>
							<option>Soup Nonveg</option>
							<option>Eggetarian</option>
							<option>Appetizer veg dry</option>
							<option>Appetizer non-veg dry</option>
							<option>Andhra style chicken dry</option>
							<option>Andhra style chicken dry</option>
							<option>Andhra style mutton dry</option>
							<option>mutton currys</option>
							<option>Sea food fish</option>
							<option>Sea food prawns</option>
							<option>Sea food crab</option>
						</select>
					</div>
				</div>
				<div class="pad0 col-md-6">
					<div class="tab-btn">
						<a href="/admin/add-menu" class="add-btn">Add Menu</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Detail Description soup veg-->
		<div class="row item-detail-desc">
			<h1>Soup Veg</h1>
			<div class="col-md-3">
				<div class="item-detail">
					<div class="item-image">
						<a href="/admin/item-details">
							<img src="/static/app/admin/assets/images/pexels.jpeg">
						</a>
					</div>
					<div class="item-desc">
						<h1>
							<span>
								<img src="/static/app/admin/assets/images/veg-artboard.png">
							</span>Mexican Fried Rice</h1>
						<p>9AM - 12PM, 5PM - 10PM</p>
						<span>Rs 199</span>
						<span>Offer price Rs 199</span>
						<div class="divider"></div>
						<div class="availablity">
							<span>56 Available</span>
							<a href="##" data-toggle="modal" data-target="#modal-availability">
								<img src="/static/app/admin/assets/images/edit.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item-detail">
					<div class="item-image">
						<a href="/admin/item-details">
							<img src="/static/app/admin/assets/images/rolls.jpeg">
						</a>
					</div>
					<div class="item-desc">
						<h1>
							<span>
								<img src="/static/app/admin/assets/images/veg-artboard.png">
							</span>Mexican Fried Rice</h1>
						<p>9AM - 12PM, 5PM - 10PM</p>
						<span>Rs 199</span>
						<span>Offer price Rs 199</span>
						<div class="divider"></div>
						<div class="availablity">
							<span class="red">0 Available</span>
							<a href="##" data-toggle="modal" data-target="#modal-availability">
								<img src="/static/app/admin/assets/images/edit.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item-detail">
					<div class="item-image">
						<a href="/admin/item-details">
							<img src="/static/app/admin/assets/images/salad.jpeg">
						</a>
					</div>
					<div class="item-desc">
						<h1>
							<span>
								<img src="/static/app/admin/assets/images/veg-artboard.png">
							</span>Mexican Fried Rice</h1>
						<p>9AM - 12PM, 5PM - 10PM</p>
						<span>Rs 199</span>
						<span>Offer price Rs 199</span>
						<div class="divider"></div>
						<div class="availablity">
							<span>56 Available</span>
							<a href="##" data-toggle="modal" data-target="#modal-availability">
								<img src="/static/app/admin/assets/images/edit.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item-detail">
					<div class="item-image">
						<a href="/admin/item-details">
							<img src="/static/app/admin/assets/images/salmon.jpeg">
						</a>
					</div>
					<div class="item-desc">
						<h1>
							<span>
								<img src="/static/app/admin/assets/images/veg-artboard.png">
							</span>Mexican Fried Rice</h1>
						<p>9AM - 12PM, 5PM - 10PM</p>
						<span>Rs 199</span>
						<span>Offer price Rs 199</span>
						<div class="divider"></div>
						<div class="availablity">
							<span class="red">0 Available</span>
							<a href="##" data-toggle="modal" data-target="#modal-availability">
								<img src="/static/app/admin/assets/images/edit.png">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row item-detail-desc">
			<div class="col-md-3">
				<div class="item-detail">
					<div class="item-image">
						<a href="/admin/item-details">
							<img src="/static/app/admin/assets/images/pexels.jpeg">
						</a>
					</div>
					<div class="item-desc">
						<h1>
							<span>
								<img src="/static/app/admin/assets/images/veg-artboard.png">
							</span>Mexican Fried Rice</h1>
						<p>9AM - 12PM, 5PM - 10PM</p>
						<span>Rs 199</span>
						<span>Offer price Rs 199</span>
						<div class="divider"></div>
						<div class="availablity">
							<span>56 Available</span>
							<a href="##" data-toggle="modal" data-target="#modal-availability">
								<img src="/static/app/admin/assets/images/edit.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item-detail">
					<div class="item-image">
						<a href="/admin/item-details">
							<img src="/static/app/admin/assets/images/rolls.jpeg">
						</a>
					</div>
					<div class="item-desc">
						<h1>
							<span>
								<img src="/static/app/admin/assets/images/veg-artboard.png">
							</span>Mexican Fried Rice</h1>
						<p>9AM - 12PM, 5PM - 10PM</p>
						<span>Rs 199</span>
						<span>Offer price Rs 199</span>
						<div class="divider"></div>
						<div class="availablity">
							<span class="red">0 Available</span>
							<a href="##" data-toggle="modal" data-target="#modal-availability">
								<img src="/static/app/admin/assets/images/edit.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item-detail">
					<div class="item-image">
						<a href="/admin/item-details">
							<img src="/static/app/admin/assets/images/salad.jpeg">
						</a>
					</div>
					<div class="item-desc">
						<h1>
							<span>
								<img src="/static/app/admin/assets/images/veg-artboard.png">
							</span>Mexican Fried Rice</h1>
						<p>9AM - 12PM, 5PM - 10PM</p>
						<span>Rs 199</span>
						<span>Offer price Rs 199</span>
						<div class="divider"></div>
						<div class="availablity">
							<span>56 Available</span>
							<a href="##" data-toggle="modal" data-target="#modal-availability">
								<img src="/static/app/admin/assets/images/edit.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item-detail">
					<div class="item-image">
						<a href="/admin/item-details">
							<img src="/static/app/admin/assets/images/salmon.jpeg">
						</a>
					</div>
					<div class="item-desc">
						<h1>
							<span>
								<img src="/static/app/admin/assets/images/veg-artboard.png">
							</span>Mexican Fried Rice</h1>
						<p>9AM - 12PM, 5PM - 10PM</p>
						<span>Rs 199</span>
						<span>Offer price Rs 199</span>
						<div class="divider"></div>
						<div class="availablity">
							<span class="red">0 Available</span>
							<a href="##" data-toggle="modal" data-target="#modal-availability">
								<img src="/static/app/admin/assets/images/edit.png">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Detail Description soup non veg-->
		<div class="row item-detail-desc">
			<h1>Soup Non-Veg</h1>
			<div class="col-md-3">
				<div class="item-detail">
					<div class="item-image">
						<a href="/admin/item-details">
							<img src="/static/app/admin/assets/images/pexels.jpeg">
						</a>
					</div>
					<div class="item-desc">
						<h1>
							<span>
								<img src="/static/app/admin/assets/images/nonveg-artboard.png">
							</span>Mexican Fried Rice</h1>
						<p>9AM - 12PM, 5PM - 10PM</p>
						<span>Rs 199</span>
						<span>Offer price Rs 199</span>
						<div class="divider"></div>
						<div class="availablity">
							<span>56 Available</span>
							<a href="##" data-toggle="modal" data-target="#modal-availability">
								<img src="/static/app/admin/assets/images/edit.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item-detail">
					<div class="item-image">
						<a href="/admin/item-details">
							<img src="/static/app/admin/assets/images/rolls.jpeg">
						</a>
					</div>
					<div class="item-desc">
						<h1>
							<span>
								<img src="/static/app/admin/assets/images/nonveg-artboard.png">
							</span>Mexican Fried Rice</h1>
						<p>9AM - 12PM, 5PM - 10PM</p>
						<span>Rs 199</span>
						<span>Offer price Rs 199</span>
						<div class="divider"></div>
						<div class="availablity">
							<span class="red">0 Available</span>
							<a href="##" data-toggle="modal" data-target="#modal-availability">
								<img src="/static/app/admin/assets/images/edit.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item-detail">
					<div class="item-image">
						<a href="/admin/item-details">
							<img src="/static/app/admin/assets/images/salad.jpeg">
						</a>
					</div>
					<div class="item-desc">
						<h1>
							<span>
								<img src="/static/app/admin/assets/images/nonveg-artboard.png">
							</span>Mexican Fried Rice</h1>
						<p>9AM - 12PM, 5PM - 10PM</p>
						<span>Rs 199</span>
						<span>Offer price Rs 199</span>
						<div class="divider"></div>
						<div class="availablity">
							<span>56 Available</span>
							<a href="##" data-toggle="modal" data-target="#modal-availability">
								<img src="/static/app/admin/assets/images/edit.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item-detail">
					<div class="item-image">
						<a href="/admin/item-details">
							<img src="/static/app/admin/assets/images/salmon.jpeg">
						</a>
					</div>
					<div class="item-desc">
						<h1>
							<span>
								<img src="/static/app/admin/assets/images/nonveg-artboard.png">
							</span>Mexican Fried Rice</h1>
						<p>9AM - 12PM, 5PM - 10PM</p>
						<span>Rs 199</span>
						<span>Offer price Rs 199</span>
						<div class="divider"></div>
						<div class="availablity">
							<span class="red">0 Available</span>
							<a href="##" data-toggle="modal" data-target="#modal-availability">
								<img src="/static/app/admin/assets/images/edit.png">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<!-- Availability Popup Modal -->
<div id="modal-availability" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Availability</h4>
			</div>
			<div class="modal-body">
				<form method="post" class="form-inline">
					<div class="form-group modal-desc">
						<label>Enter the available quantity for this item</label>
						<input type="text" class="form-control" placeholder="0">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-no" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-yes">Yes</button>
			</div>
		</div>

	</div>
</div>

{% include "partials/admin-footer.html" %}