{% include "partials/admin-header.html" %}


<div class="container-wrapper">

	<!-- Vertical Menu Bar-->
	{% include "partials/admin-menu-bar.html" %}

	<!-- Description -->
	<div class="description">

		<p>
			<a href="">Home</a> /Sun Restaurant
		</p>
		<!-- Banner Heading -->
		<div class="row tab-header">
			<div class="pad0 col-md-12">
				<div class="pad0 col-md-6">
					<div class="tab-heading">
						<select id="listCategory">
							<option value="">All Category</option>
						</select>
					</div>
				</div>
				<div class="pad0 col-md-6">
					<div class="tab-btn">
						<a href="/admin/add-menu" class="add-btn">Add Menu</a>
					</div>
				</div>
			</div>
		</div>
		<div id="itemList">

		</div>

		<!-- Detail Description soup veg-->

	</div>

</div>

<!-- Availability Popup Modal -->
<div id="modal-availability" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Availability</h4>
			</div>
			<form class="form-inline" id="availablityForm">

				<div class="modal-body">
					<div class="form-group modal-desc">
						<label>Enter the available quantity for this item</label>
						<input type="number" class="form-control" placeholder="0" name="quantity">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-no" data-dismiss="modal">No</button>
					<button type="submit" class="btn btn-yes">Yes</button>
				</div>
			</form>
		</div>

	</div>
</div>
<script type="text/html" id="dishTemplate">
<%if(categories.length){%>
<%_.each(categories,function(category,idx){%>
	<%if(showAll && !category.products.length){%>
	<%}else{%>
	<div class="row item-detail-desc">
		<h1><%=category.name%></h1>
		<%if(category.products.length){%>
		<%_.each(category.products,function(product,idx){%>
		<div class="col-md-3 itemElement" data-id="<%=product.id%>" data-quantity="<%=product.quantity%>">
			<div class="item-detail">
				<div class="item-image">
					<a href="/admin/item-details">
						<img src="<%=product.thumbnail%>">
					</a>
				</div>
				<div class="item-desc">
					<h1>
						<span>
							<%if(product.is_veg){%>
							<img src="/static/app/admin/assets/images/veg-artboard.png">
							<%}else{%>
								<img src="/static/app/admin/assets/images/nonveg-artboard.png">
							<%}%>
						</span><%=product.name.toProperCase()%></h1>
					<p><%=product.time_slots.join(",")%></p>
					<span>Rs <%=product.mrp%></span>
					<%if(product.mrp > product.offer_price){%>
						<span>Offer price Rs <%=product.offer_price%></span>
					<%}%>
					<div class="divider"></div>
					<div class="availablity">
						<%if(product.quantity){%>
							<span><%=product.quantity%> Available</span>
						<%}else{%>
							<span class="red"><%=product.quantity%> Available</span>
						<%}%>
						<a href="#" data-toggle="modal" data-target="#modal-availability" class="availibilityChange">
							<img src="/static/app/admin/assets/images/edit.png">
						</a>
					</div>
				</div>
			</div>
		</div>
		<%})%>
		<%}else{%>
		<div>No Items Found</div>
		<%}%>
	</div>
	<%}%>
	<%})%>
	<%}else{%>
		<div>No Category Found</div>
	<%}%>
</script>
<script>
	$(document).ready(function () {
		ajaxFactory.ajaxHandler("/api/categories/?products=1", "GET", {}, function (response) {
			if (response.code == 200) {
				var template = _.template($('#dishTemplate').html());
				var innerHtml = template({ categories: response.data.categories, showAll: true });
				$('#itemList').html(innerHtml);
			}
		});
	});
	$(document.body).on("change", "#listCategory", function () {
		var thisValue = this.value;
		var selectedCategory = this.value != "" ? "&selectedCategory=" + thisValue : ""
		ajaxFactory.ajaxHandler("/api/categories/?products=1" + selectedCategory, "GET", {}, function (response) {
			if (response.code == 200) {
				var template = _.template($('#dishTemplate').html());
				var innerHtml = template({ categories: response.data.categories, showAll: thisValue == "" ? true : false });
				$('#itemList').html(innerHtml);
			}
		});
	});
	$(document).on("click", ".availibilityChange", function () {
		$(".itemElement").removeClass("selected");
		var itemElement = $(this).closest(".itemElement");
		itemElement.addClass("selected");
		$("#modal-availability").find("input[name='quantity']").val(itemElement.attr("data-quantity"))
	});


	$("#availablityForm").submit(function (e) {
		e.preventDefault();
	});
	$("#availablityForm").validate({
		ignore: [],
		onblur: function (element) {
			$(element).valid();
		},
		rules: {
			quantity: {
				required: true,
				min: 0
			},
		},
		messages: {
			quantity: "Please enter the quantity!",
		},
		submitHandler: function (form) {
			var post_data = $(form).serializeObject();
			post_data["dish_id"] = $(".itemElement.selected").attr("data-id");
			ajaxFactory.ajaxHandler('/api/dish-quantity/', 'PUT', post_data, function (response) {
				// if (response.code == '900') {
				//     success_toast(response.message)
				// }
			});

		}
	});
</script> {% include "partials/admin-footer.html" %}