{% include "partials/admin-header.html" %}


<div class="container-wrapper">

	<!-- Vertical Menu Bar-->
	{% include "partials/admin-menu-bar.html" %}

	<!-- Description -->
	<div class="description">

		<p>
			<a href="##" class="goBack">
				<img src="assets/images/Arrow_Back.png">
			</a>
			<a href="/admin/item-list">Home</a> /Sun Restaurant
		</p>
		<!-- Banner Heading -->
		<div class="row tab-header">
			<div class="pad0 col-md-12">
				<div class="tab-heading">
					<h1>ADD MENU</h1>
				</div>
			</div>
		</div>
		<div class="row detail-desc">

		</div>

	</div>

</div>

{% include "partials/admin-footer.html" %}